.contact-content {
  display: flex;
  position: relative;
  margin-top: 80px;
  width: 1900px;
  height: 1052px;
}
.contact-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Background-Contact-Form.jpg");
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}
.contact-name {
  display: flex;
  gap: 16px;
}
.contact-form {
  margin-left: auto;
  text-align: center;
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-title {
  margin-top: 200px;
  margin-bottom: 25px;
  font-size: 38px;
}

.contact-input {
  margin-top: 70px;
  margin-bottom: 15px;
  text-align: left;
  color: gray;
  // border-bottom: 1px solid $header-color;
  width: 100%;
}
.contact-input-textarea {
  margin-top: 40px;
}
.contact-input label {
  display: block;
  margin-bottom: 12px;
  color: $header-color;
}

.contact-input textarea {
  width: 530px;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-container {
  text-align: right;
  margin-top: 44px;
}

.contact-button {
  padding: 13px 52px;
  border: 1px solid $header-color;
  border-radius: 4px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 22px;
  left: 0;
  // padding-bottom: 20px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-title {
  font-size: 18px;
  color: $header-color;
  text-align: center;
  flex: 1;
}
.footer-socials {
  display: flex;
  gap: 15px;
  margin-left: 0;
  padding-right: 142px;
}
.footer-social {
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
}
.footer-social-fb {
  background-image: url(../assets/Facebook.svg);
}
.footer-social-ig {
  background-image: url(../assets/Instagram.svg);
}
/* style.css */
.contact-input input,
.contact-input textarea {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

.contact-input input.error,
.contact-input textarea.error {
  border-bottom: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 10px;
}
.success-message {
  color: green;
  font-weight: bold;
  margin-top: 20px;
}
