button:hover {
  cursor: pointer;
}
.conteiner {
  width: 1900px;
  padding-right: 142px;
}
.hero {
  margin-top: 37px;
  height: 960px;
  display: flex;
}
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 142px;
}

.header-logged--sticky {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 100;
}
.main-header__guest-nav {
  margin-left: auto;
  margin-top: 25px;
  li {
    font-size: 14px;
    color: $user-color;
    padding: 9px 20px;
    border: 1px solid transparent;
    transition: border-color 0.3s;
    &:hover {
      cursor: pointer;
      border-color: $warning-color;
    }
  }
}
.main-header__user-nav,
.main-header__user-actions,
.main-header__navigation {
  margin-left: auto;
  margin-top: 25px;
  @include flex;
  gap: 25px;
  li {
    font-size: 14px;
    color: $user-color;
    padding: 9px 20px;
    border: 1px solid transparent;
    transition: border-color 0.3s;
    &:hover {
      cursor: pointer;
      border-color: $header-color;
    }
  }
}
.main-header__guest-nav,
.main-header__nav-list {
  display: flex;
}
.hero__image {
  background-image: url(../assets/Home-Hero-Image.jpg);
  background-size: cover;
  background-position: right;
  width: 40%;
}
.hero__main {
  @include flex;
  width: 60%;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__title {
  font-size: 38px;
  color: $header-color;
  text-align: center;
  padding-bottom: 25px;
}
.decorative-border {
  background-image: url(../assets/Decoration.png);
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 33px;
}
.hero__buttons {
  padding-top: 78px;
  display: flex;
  gap: 40px;
  color: $header-color;
}
.hero__button {
  text-align: center;
  padding: 13px 93px;
  border: 1px solid $header-color;
  font-weight: 300;
  font-size: 36px;
}

.three-columns {
  background-image: url(../assets/3_Columns_Background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 163px;
}
.three-columns__content {
  padding: 45px 70px 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.three-columns__number {
  font-size: 90px;
  font-weight: 300;
  color: $number-color;
}
.three-columns__title {
  font-size: 18px;
  color: $header-color;
  margin-bottom: 26px;
}
.three-columns__text {
  font-size: 16px;
  color: $header-color;
  font-family: $font-alt;
  font-weight: 300;
  text-align: center;
}
