.donation-process-wrapper {
  display: flex;
  flex-direction: column;
  // height: 100vh; /* lub odpowiednia wysokość */
}
.logged-warning-box {
  background-color: $warning-color;
  height: 179px;
  padding-left: 142px;
}

.logged-home-warning-title {
  padding-top: 50px;
  font-size: 36px;
  color: #000;
  font-weight: 600;
}
.logged-home-warning-description {
  font-size: 22px;
  color: $header-color;
  font-weight: 300;
}

.donation__form,
.summary,
.thank-you {
  padding-left: 142px;
  padding-top: 36px;
  padding-bottom: 50px;
  background-image: url(../assets/Background-Form.jpg);
  background-position: center;
  background-size: cover;
  height: 883px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.donation__step-indicator {
  font-size: 24px;
  color: $header-color;
}
.donation__step-title,
.summary__title,
.pickup-form__title {
  font-size: 36px;
  font-weight: 600;
  margin-top: 70px;
}
.summary-text,
.thank-you__message {
  font-size: 40px;
  color: $header-color;
  margin-bottom: 25px;
}
.summary-content,
.thank-you__content {
  width: 630px;
  text-align: center;
  @include flex;
  flex-direction: column;
}
.donation__form form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;

  margin-top: 44px;
  // height: 100%;
}
.donation-items-selection {
  margin-top: 50px;
}
.donation-item-label {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-size: 16px;
  cursor: pointer;
}
.location-selection__dropdown,
.quantity-selection__dropdown {
  @include flex;
}

.donation__form input[type="checkbox"] {
  margin-right: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 0.75px solid $header-color;
}

.donation__form input[type="checkbox"]:checked {
  background-color: $warning-color;
}
// .to-give-back-button-container {
//   padding-top: 185px;
//   padding-bottom: 73px;
// }

.summary__buttons {
  margin-top: auto;
}
.navigation__button--back,
.navigation__button--next,
.navigation__button--confirm {
  padding: 10px 15px;
  border: 1px solid $header-color;
  color: #000;
  cursor: pointer;
  font-size: 24px;
  &:hover {
    border: 1px solid $header-color;
  }

  &:first-of-type {
    margin-right: 50px;
  }
}

.quantity-select {
  display: flex;
}
.quantity-select-label {
  padding-right: 50px;
  margin-bottom: 8px;
  font-weight: bold;
}

.quantity-select-dropdown {
  width: 300px;
  padding: 8px;
  text-align: start;
  font-size: 16px;
  border: 1px solid #ccc;
  background-image: url(../assets/Icon-Arrow-Down.svg);
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.quantity-select-option {
  position: absolute;
  left: 100px;
  width: 50px;
}

.quantity-selection__box,
.location-selection__box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.location-selection__selected,
.quantity-selection__selected {
  display: flex;
  width: 300px;
  border: 1px solid $header-color;
  font-size: 25px;
  color: $header-color;
  padding: 15px 20px;
  cursor: pointer;
  align-items: center;
  position: relative;
  background-image: url(../assets/Icon-Arrow-Down.svg);
  background-repeat: no-repeat;
  background-position: center right;
}

.location-selection__options-dropdown,
.quantity-selection__options-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 15px;
  background-color: #e8e9e4;
}

.location-selection__option-item,
.quantity-selection__option-item {
  list-style: none;
  font-size: 22px;
  color: $header-color;
  padding: 8px;
  margin: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.quantity-selection__options-list {
  width: 75px;
  border: 1px solid $header-color;
}

.location-selection__options-list {
  width: 300px;
  border: 1px solid $header-color;
}

.help-box {
  display: flex;
  flex-direction: column;
}
.help-select-box {
  display: flex;
  width: 250px;
  border: 1px solid $header-color;
  font-size: 25px;
  color: $header-color;
  padding: 15px 20px;
  cursor: pointer;
  position: relative;
  background-image: url(../assets/Icon-Arrow-Down.svg);
  background-repeat: no-repeat;
  background-position: center right;
}
.location-selection,
.quantity-selection {
  height: 100%;
  flex-direction: column;
  display: flex;
  margin-top: 20px;
}

.help-content {
  margin-top: 50px;
}
.aid-options {
  display: flex;
  width: 520px;
  flex-wrap: wrap;
  gap: 24px;
}
.aid-option {
  border: 0.75px solid $header-color;
  padding: 11px 20px;

  &:hover {
    cursor: pointer;
  }
}
.aid-option.active {
  background-color: #fad648;
}
.aid-organization__textarea {
}
.aid-organization__textarea textarea {
  width: 570px;
  height: 40px;
  border: 1px solid $header-color;
  text-align: left;
  font-size: 26px;
}

.pickup-form {
}
.pickup-form__columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__group {
  width: 400px;
  margin-bottom: 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.form__group label {
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: start;
}

.form__group input {
  padding: 8px;
  text-align: start;
  border: 0.75px solid $header-color;
  width: 250px;
}
.form__group textarea {
  padding: 8px;
  text-align: start;
  border: 0.75px solid $header-color;
  width: 250px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow: hidden;
}

.summary__items-heading,
.summary__column-head,
.summary__column-heading,
.pickup-form__section-title,
.aid-description__title {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 24px;
  color: #000;
  font-weight: 600;
  text-align: start;
}
.summary__details {
  @include flex;
  flex-direction: column;
  align-items: flex-start;
}
.summary__icon--items {
  background-image: url(../assets/Icon-1.svg);
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
}
.summary__icon--location {
  background-image: url(../assets/Icon-4.svg);
  height: 50px;
  width: 50px;
  background-size: contain;
  margin-right: 20px;
}
.summary__items-description,
.summary__location-description {
  @include flex;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}
.summary__columns {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.summary__column--pickup-address {
  margin-right: 20px;
}

.summary__column {
  width: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.summary__field {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.summary__field-label {
  width: 200px; /* Stała szerokość dla etykiety */
  flex-shrink: 0; /* Zapobiega zmniejszaniu się szerokości etykiety */
}

.summary__field-value {
  flex-grow: 1;
  word-break: break-all;
}
.thank-you__button {
  margin-top: 35px;
}
