.alert {
  background-color: $warning-color;
  padding: 30px 0;
  @include column;
}

.alert__title {
  font-size: 36px;
  color: #000;
  font-weight: 600;
}

.alert__description {
  font-size: 22px;
  color: $header-color;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .alert {
    padding: 15px 0;
    width: 100vw;
    overflow-x: hidden;
  }

  .alert__title {
    font-size: 28px;
    text-align: center;
    padding-top: 0;
  }

  .alert__description {
    font-size: 18px;
    text-align: center;
    padding: 20px 50px;
  }
}

@media (max-width: 480px) {
  .alert {
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
  }

  .alert__title {
    font-size: 20px;
    padding-top: 10px;
  }

  .alert__description {
    font-size: 14px;
    text-align: center;
  }
}
